POSTGRES_HOST={{ rds_endpoint }}
POSTGRES_PORT={{ rds_port }}
POSTGRES_DB={{ rds_db_name }}
POSTGRES_USER={{ rds_username }}
POSTGRES_PASSWORD={{ rds_password }}

AUTH_PORT={{ auth_port }}
ORDERS_PORT={{ orders_port }}
GATEWAY_PORT={{ gateway_port }}
FRONT_PORT={{ front_port }}

GATEWAY_URL=http://127.0.0.1:{{ gateway_port }}
